<div id="preloader" ng-show="showLoader">
  <div id="spinner">
    <div class="preloader-bubblingG">
      <span id="bubblingG_1"></span>
      <span id="bubblingG_2"></span>
      <span id="bubblingG_3"></span>
    </div>
  </div>
  <div id="disable-preloader" class="btn btn-default btn-sm">
  Disable Preloader</div>
</div>
<!-- Section: Request Tutor -->
<section id="request-tutor">
  <div class="container">
    <div class="row text-center">
      <div class="mb-30">
        <div class="heading-line-bottom">
          <h2 class="heading-title">Request a tutor</h2>
          <h5 class="text-gray-darkgray mb-20">Answer a few quick questions. We’ll help you find tutors in your area.</h5>
        </div>
      </div>
      <div class="row mt-30">
        <div class="col-sm-4">
          <div class="icon-box iconbox-theme-colored">
            <a class="icon btn-dark btn-transparent btn-theme-colored icon-dark icon-circled icon-border-effect effect-circled" href="#">
              <i class="fa fa-university"></i>
            </a>
            <h4 class="icon-box-title">The Best Instructors</h4>
            <p class="text-gray">More qualified experts and professionals than anywhere else, ready to help.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box iconbox-theme-colored">
            <a class="icon btn-dark btn-transparent btn-theme-colored icon-dark icon-circled icon-border-effect effect-circled" href="#">
              <i class="fa fa-puzzle-piece"></i>
            </a>
            <h4 class="icon-box-title">The Right Fit</h4>
            <p class="text-gray">We filter our tutors based on what you need. You pick your perfect match.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-box iconbox-theme-colored">
            <a class="icon btn-dark btn-transparent btn-theme-colored icon-dark icon-circled icon-border-effect effect-circled" href="#">
              <i class="fa fa-graduation-cap"></i>
            </a>
            <h4 class="icon-box-title">Real Results</h4>
            <p class="text-gray">In person or online, get the one-on-one help you need to reach your goals.</p>
          </div>
        </div>
      </div>
      <div class="row mt-30">
        <div class="col-lg-12 text-center">
          <a data-target="#modalStudentpost" data-toggle="modal" id="btnFillSizeToggler" class="btn btn-dark btn-transparent btn-theme-colored" ng-click="getGroups(); getTutors(); getSubjects();"><i class="fa fa-rocket" ></i> Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade fill-in" id="modalStudentpost" tabindex="-1" role="dialog" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
  <i class="pg-close"></i>
  </button>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-left p-b-5"><span class="semi-bold">Post A Requirement</span></h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-body">
                <form id="form-project" class="auth-form" name="addPostForm" ng-submit="saveRequirement()" role="form" autocomplete="off" novalidate >
                  <p>Basic Information</p>
                  <div class="form-group-attached">
                    <!-- <div class="row clearfix"> -->
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default required">
                          <label>First Name</label>
                          <input type="text" class="form-control" ng-model="Requirements.firstname" name="firstname" required>
                        </div>
                      </div>
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default required">
                          <label>Last Name</label>
                          <input type="text" class="form-control" ng-model="Requirements.lastname" name="lastname" required>
                        </div>
                      </div>

                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default srch-drpdwn required">
                          <label>Phone Code</label>
                          <select name="phonecode" class="form-control" ng-model="Requirements.phonecode" ng-options="'+'+country.phonecode+'( '+country.name+' )' for country in Countries" required></select>
                        </div>
                      </div>
                      <div class="col-sm-6 no-padding" ng-init="getCountries()">
                        <div class="form-group form-group-default required">
                          <label>Contact No.</label>
                          <input type="text" class="form-control" ng-model="Requirements.phone" name="phone" required>
                        </div>
                      </div>

                      <diiv class="clearfix"></diiv>

                      <div class="col-sm-6 no-padding">                      
                        <div class="form-group form-group-default required">
                          <label>Email</label>
                          <input type="email" class="form-control" ng-model="Requirements.email" name="Email" required>
                        </div>
                      </div>

                    <!-- </div> -->

                  <!-- <div class="row"> -->
                    <div class="col-sm-6 no-padding">
                      <div class="form-group form-group-default srch-drpdwn required">
                        <label>Country</label>
                        <select name="country" class="form-control" ng-model="Requirements.country" ng-options="country.name for country in Countries" ng-change="getStates(Requirements.country)" required>
                        </select>
                      </div>
                    </div>
                  <!-- </div> -->
                  <!-- <div class="row"> -->
                    <div class="col-sm-6 no-padding">
                      <div class="form-group form-group-default srch-drpdwn required">
                        <label>State</label>
                        <select name="state" class="form-control" ng-model="Requirements.state" ng-options="state.name for state in States" ng-change="getCities(Requirements.state)" required>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6 no-padding">
                      <div class="form-group form-group-default srch-drpdwn required">
                        <label>City</label>
                        <select name="city" class="form-control" ng-model="Requirements.city" ng-options="city.name for city in Cities" required>
                        </select>
                      </div>
                    </div>
                  <!-- </div> -->


                    <!-- <div class="form-group form-group-default required">
                      <label>Address</label>
                      <textarea class="form-control" placeholder="Enter your address" ng-model="Requirements.address" name="address" required></textarea>
                    </div> -->
                  </div>
                  <div class="clearfix"></div>
                  <p class="m-t-10">Advanced Information</p>
                  <div class="form-group-attached">
                    <div class="form-group form-group-default required">
                      <label>Title</label>
                      <textarea class="form-control" placeholder="Enter title for requirement" ng-model="Requirements.title" name="title" rows="1" required></textarea>
                    </div>
                    
                    <div class="form-group form-group-default required">
                      <label>Subject</label>
                      <select class=" cs-skin-slide cs-transparent form-control no-padding" data-init-plugin=""  ng-model="Requirements.subject_id" name="subject_id" required>
                        <option value="">Select a subject</option>
                        <option ng-repeat="Subject in Subjects" value="{{Subject.subject_id}}">
                          {{Subject.subject_name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group form-group-default col-sm-6">
                      <label>Preffered Day and Time</label>
                      <!-- <input type="text" ng-model="Requirements.day_and_time" name="day_and_time" class="form-control" placeholder="Enter your preffered day and time for tution"> -->
                    </div>
                    <div class='input-group date col-sm-6' id='datetimepicker1'>
                      <input type='text' id="day-and-time" ng-model="Requirements.day_and_time" name="day_and_time" class="form-control"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
<!-- 
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
     -->

                    <!-- <div class="row clearfix"> -->
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default required">
                          <label>Level</label>
                          <select class=" cs-skin-slide cs-transparent form-control no-padding" data-init-plugin="" ng-model="Requirements.level" name="level" required>
                            <option value="">Select Level</option>
                            <option value="1">HL</option>
                            <option value="2">SL</option>
                            <option value="3">Ab Initio</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default">
                          <label>No. of Hours</label>
                          <select class=" cs-skin-slide cs-transparent form-control no-padding" data-init-plugin="" ng-model="Requirements.hours" name="hours">
                            <option value="">Select Hours</option>
                            <option value="1-2 hours/day">1-2 hours/day</option>
                            <option value="1-2 hours/week">1-2 hours/week</option>
                            <option value="2-4 hours/week">2-4 hours/week</option>
                            <option value="4-6 hours/week">4-6 hours/week</option>
                            <option value="6-8 hours/week">6-8 hours/week</option>
                            <option value="8-10 hours/week">8-10 hours/week</option>
                            <option value="10-12 hours/week">10-12 hours/week</option>
                          </select>
                        </div>
                      </div>
                    <!-- </div> -->
                    <div class="form-group form-group-default required">
                      <label>Description</label>
                      <textarea class="form-control" id="description-text" placeholder="Enter detalis of your requirements here like - Topics, Timmings or any other" ng-model="Requirements.description" name="description" rows="10" cols="40" required></textarea>
                    </div>
                    <!-- <div class="row clearfix"> -->
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default required">
                          <label>Tier</label>
                          <select class=" cs-skin-slide cs-transparent form-control no-padding" data-init-plugin="" ng-model="Requirements.tier" name="tier" required>
                            <option value="">Select Tier</option>
                            <option value="1">Tier 1</option>
                            <option value="2">Tier 2</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default srch-drpdwn">
                          <label>Any specific Tutor?:</label>
                          <input class="form-control" type="text" ng-model="Requirements.specific_tutor" uib-typeahead="tutor as (tutor.firstname + ' ' + tutor.lastname) for tutor in Tutors | filter:$viewValue | limitTo:8">
                        </div>
                      </div>
                    <!-- </div> -->
                    <!-- <div class="row clearfix"> -->
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default required">
                          <label>Tution Method</label>
                          <select class=" cs-skin-slide cs-transparent form-control no-padding" data-init-plugin="" ng-model="Requirements.tution_method" name="tution_method" required>
                            <option value="">Select One</option>
                            <option value="1">Online Tutoring</option>
                            <option value="2">Face to Face Tutoring</option>
                            <option value="3">University consultancy</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6 no-padding">
                        <div class="form-group form-group-default pos_ini required">
                          <label>Post Code</label>
                          <input class="form-control" type="text" ng-model="Requirements.post_code" name="post_code" required>
                        </div>
                      </div>
                    <!-- </div> -->
                    <div class="form-group form-group-default">
                      <label>Any extra information?</label>
                      <textarea class="form-control" id="other-text" placeholder="Enter your text here" ng-model="Requirements.extra_info" rows="4"></textarea>
                    </div>
                  </div>
                  
                  <div class="pull-left width-100">
                    <div class="checkbox check-primary">
                      <input type="checkbox" checked="checked" value="1" id="checkbox-agree" ng-model="Requirements.true_info" required>
                      <label for="checkbox-agree">I hereby certify that the information above is true and accurate
                      </label>
                    </div>
                  </div>
                  
                  <button class="btn bg-theme-color-2" type="submit" ng-disabled="addPostForm.$invalid">Submit</button>
                </form>
              </div>
            </div>
            <!-- END PANEL -->
          </div>
        </div>
        <p class="text-right sm-text-center hinted-text p-t-10 p-r-10">What is it? <a data-href="#/">Terms and conditions</a></p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>